<?xml version="1.0" encoding="utf-8"?>
<Content Key="fad76dc6-cf39-4e25-a3f4-42d765fa3e7c" Alias="Contact" Level="2">
  <Info>
    <Parent Key="c2d2fc77-3a4a-4993-8b50-6b88a6e7295d">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUsPage</ContentType>
    <CreateDate>2024-09-06T13:39:24</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="41d98091-a1a9-4689-88a8-29db9ccee2a7">contactUsPage</Template>
  </Info>
  <Properties>
    <formBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "0c186073-2566-4e43-b7ac-54c5f91231ad",
    "mediaKey": "8f21fbb1-7bfb-4362-9c7d-16bbfd8f7a97",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </formBackgroundImage>
    <formButtonText>
      <Value><![CDATA[Submit]]></Value>
    </formButtonText>
    <formButtonUrl>
      <Value><![CDATA[]]></Value>
    </formButtonUrl>
    <formHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </formHeadline>
    <formText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus]]></Value>
    </formText>
    <formTitle>
      <Value><![CDATA[Request a call back]]></Value>
    </formTitle>
    <pageBannerImage>
      <Value><![CDATA[[
  {
    "key": "b33e3b34-3619-46eb-9302-4cb5e8f567f3",
    "mediaKey": "f19e5f2c-ab87-4b3b-91cd-209d0c1f5610",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageBannerImage>
    <pageHeadline>
      <Value><![CDATA[Contact Us]]></Value>
    </pageHeadline>
    <partner1>
      <Value><![CDATA[[
  {
    "key": "88e1fce3-605d-4f2a-90eb-89b440c35049",
    "mediaKey": "e7522c32-eeaa-4f4f-afa9-ffb053c60e1a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partner1>
    <partner2>
      <Value><![CDATA[[
  {
    "key": "ebf6532d-2fbb-47a4-98eb-8301caf3ad44",
    "mediaKey": "1117fd1e-0f1e-46f9-88ac-856b725124bb",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partner2>
    <partner3>
      <Value><![CDATA[[
  {
    "key": "cf05dfa7-1e81-41fb-84d0-834527706131",
    "mediaKey": "1fccaaae-8921-49c2-bdee-354391b360f1",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partner3>
    <partner4>
      <Value><![CDATA[[
  {
    "key": "76df2db7-2b23-4823-93aa-abc87de018c8",
    "mediaKey": "a78487dc-3f2b-41a4-8243-79502bcf86f4",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partner4>
    <partner5>
      <Value><![CDATA[[
  {
    "key": "d8a56ef1-e4ed-4430-905c-db7cea0d9f37",
    "mediaKey": "74d13cc5-e6f7-4f64-a560-073f0b3c0ea5",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partner5>
    <partner6>
      <Value><![CDATA[[
  {
    "key": "2987266c-5f61-4c5d-8228-e7fba11646ae",
    "mediaKey": "ddd14a2c-baa2-4064-ae1a-046a21a022b0",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partner6>
  </Properties>
</Content>