<?xml version="1.0" encoding="utf-8"?>
<Content Key="c2d2fc77-3a4a-4993-8b50-6b88a6e7295d" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-09-05T11:26:37</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8e341685-996d-438b-b821-969fad7d5189">homePage</Template>
  </Info>
  <Properties>
    <aboutHeadline>
      <Value><![CDATA[We have 40 years experience]]></Value>
    </aboutHeadline>
    <aboutQuote>
      <Value><![CDATA[“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”]]></Value>
    </aboutQuote>
    <aboutSignatureImage>
      <Value><![CDATA[[
  {
    "key": "eb7622f0-8e9f-488f-9231-82d0db423139",
    "mediaKey": "df7dfa61-0050-4ac5-a663-8d2223ffc9ad",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutSignatureImage>
    <aboutText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.]]></Value>
    </aboutText>
    <aboutTitle>
      <Value><![CDATA[ABOUT US]]></Value>
    </aboutTitle>
    <firstProjectImage>
      <Value><![CDATA[[
  {
    "key": "1674c672-3a86-4a59-ba90-3ae63bd66234",
    "mediaKey": "ddb0a1bb-073f-485b-aa05-ed4d593ba75a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </firstProjectImage>
    <firstProjectText>
      <Value><![CDATA[Financial Services]]></Value>
    </firstProjectText>
    <firstProjectTitle>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </firstProjectTitle>
    <firstStoryHeadline>
      <Value><![CDATA[689]]></Value>
    </firstStoryHeadline>
    <firstStoryText>
      <Value><![CDATA[More than 100 customers has been served]]></Value>
    </firstStoryText>
    <heroBackground>
      <Value><![CDATA[[
  {
    "key": "af54f8c9-5f03-46be-9edb-cf2b0a445c11",
    "mediaKey": "17d0f177-105d-4016-8122-eafa765c27bd",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroBackground>
    <heroButtonText>
      <Value><![CDATA[Contact us]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[/contact]]></Value>
    </heroButtonUrl>
    <heroHeadline>
      <Value><![CDATA[We bring success to you]]></Value>
    </heroHeadline>
    <heroText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim]]></Value>
    </heroText>
    <pageTitle>
      <Value><![CDATA[Home]]></Value>
    </pageTitle>
    <partner1>
      <Value><![CDATA[[
  {
    "key": "d5162f83-35c3-40a6-9625-4a3d3ef53085",
    "mediaKey": "e7522c32-eeaa-4f4f-afa9-ffb053c60e1a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partner1>
    <partner2>
      <Value><![CDATA[[
  {
    "key": "4af78793-6f6a-4e77-aa87-45e6fd5fa5bd",
    "mediaKey": "1117fd1e-0f1e-46f9-88ac-856b725124bb",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partner2>
    <partner3>
      <Value><![CDATA[[
  {
    "key": "15aad9e2-25e4-44e0-bd44-eb74467f59b2",
    "mediaKey": "1fccaaae-8921-49c2-bdee-354391b360f1",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partner3>
    <partner4>
      <Value><![CDATA[[
  {
    "key": "7c73ccbe-1a06-4661-849a-032c2620096f",
    "mediaKey": "a78487dc-3f2b-41a4-8243-79502bcf86f4",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partner4>
    <partner5>
      <Value><![CDATA[[
  {
    "key": "18c45b8c-acb8-4896-ada7-90eae7b8b7b9",
    "mediaKey": "74d13cc5-e6f7-4f64-a560-073f0b3c0ea5",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partner5>
    <partner6>
      <Value><![CDATA[[
  {
    "key": "da3c47fd-4ed8-49b2-9d82-58e1a6c88344",
    "mediaKey": "ddd14a2c-baa2-4064-ae1a-046a21a022b0",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partner6>
    <projectsHeadline>
      <Value><![CDATA[Recent projects]]></Value>
    </projectsHeadline>
    <projectsTitle>
      <Value><![CDATA[OUR PROJECTS]]></Value>
    </projectsTitle>
    <secondStoryHeadline>
      <Value><![CDATA[370]]></Value>
    </secondStoryHeadline>
    <secondStoryText>
      <Value><![CDATA[More than 370 projects has been completed]]></Value>
    </secondStoryText>
    <serviceCardText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceCardText>
    <serviceCardTitle>
      <Value><![CDATA[Risk Management]]></Value>
    </serviceCardTitle>
    <servicesCardImage>
      <Value><![CDATA[[
  {
    "key": "bfadfdc8-b960-4181-b1f7-c57aca5b224f",
    "mediaKey": "8664e869-f037-4c93-ab3c-6acfdb7bdcf0",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </servicesCardImage>
    <servicesHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </servicesHeadline>
    <servicesTitle>
      <Value><![CDATA[OUR SERVICES]]></Value>
    </servicesTitle>
    <storyBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "213ff96c-8216-4ee6-97d6-d5e7969b6c60",
    "mediaKey": "a216ad3e-2600-487f-8dc4-5daee5aaa3d4",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </storyBackgroundImage>
    <storyHeadline>
      <Value><![CDATA[Success story]]></Value>
    </storyHeadline>
    <storyOptionalImage>
      <Value><![CDATA[[
  {
    "key": "f2fdb03e-6eda-4886-a661-642b858b8304",
    "mediaKey": "a216ad3e-2600-487f-8dc4-5daee5aaa3d4",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </storyOptionalImage>
    <storyTitle>
      <Value><![CDATA[SUCCESS STORIES]]></Value>
    </storyTitle>
    <thirdStoryHeadline>
      <Value><![CDATA[125]]></Value>
    </thirdStoryHeadline>
    <thirdStoryText>
      <Value><![CDATA[More than 125 branches has been established in Europe and America]]></Value>
    </thirdStoryText>
    <trustedBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "431543e6-8bda-4dcf-8805-daceabe99839",
    "mediaKey": "556ed1fe-981a-4684-b380-e9a8e768f766",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </trustedBackgroundImage>
    <trustedButtonText>
      <Value><![CDATA[Read our story]]></Value>
    </trustedButtonText>
    <trustedButtonUrl>
      <Value><![CDATA[#story]]></Value>
    </trustedButtonUrl>
    <trustedHeadline>
      <Value><![CDATA[We are trusted by more than]]></Value>
    </trustedHeadline>
    <trustedHeadlineTheme>
      <Value><![CDATA[4.000+ clients]]></Value>
    </trustedHeadlineTheme>
    <trustedOptionalImage>
      <Value><![CDATA[[
  {
    "key": "71895a1b-14fa-42e3-a2c9-1861ec7db394",
    "mediaKey": "d9ce416e-b6db-46b7-bd84-93d3ddc7d1a4",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </trustedOptionalImage>
    <trustedText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.]]></Value>
    </trustedText>
  </Properties>
</Content>