<?xml version="1.0" encoding="utf-8"?>
<Content Key="94e01f4f-eff5-4e08-951e-f73cd6b85512" Alias="Projects" Level="2">
  <Info>
    <Parent Key="c2d2fc77-3a4a-4993-8b50-6b88a6e7295d">Home</Parent>
    <Path>/Home/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectsPage</ContentType>
    <CreateDate>2024-09-16T10:50:43</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5614ebb5-4215-4eb9-948c-e8ec13129a5f">projectsPage</Template>
  </Info>
  <Properties>
    <pageBannerImage>
      <Value><![CDATA[[
  {
    "key": "a76688c1-71e3-40f4-a6d4-4384d5152531",
    "mediaKey": "f19e5f2c-ab87-4b3b-91cd-209d0c1f5610",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageBannerImage>
    <pageHeadline>
      <Value><![CDATA[Our Projects]]></Value>
    </pageHeadline>
  </Properties>
</Content>