<?xml version="1.0" encoding="utf-8"?>
<Content Key="487a546e-e31c-4e61-8a64-886c11bcd6d7" Alias="Services" Level="2">
  <Info>
    <Parent Key="c2d2fc77-3a4a-4993-8b50-6b88a6e7295d">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicesPage</ContentType>
    <CreateDate>2024-09-10T11:25:22</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6d4c2475-8a73-4a3e-9545-533fd5661988">servicesPage</Template>
  </Info>
  <Properties>
    <pageBannerImage>
      <Value><![CDATA[[
  {
    "key": "35dfff8e-212d-4063-8658-02db09a31d4c",
    "mediaKey": "f19e5f2c-ab87-4b3b-91cd-209d0c1f5610",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageBannerImage>
    <pageHeadline>
      <Value><![CDATA[Our Services]]></Value>
    </pageHeadline>
    <serviceHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </serviceHeadline>
  </Properties>
</Content>