<?xml version="1.0" encoding="utf-8"?>
<Content Key="dbb44d07-a4ac-4259-8072-97f2defe6230" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2024-09-05T14:35:18</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </address>
    <addressTitle>
      <Value><![CDATA[Office location]]></Value>
    </addressTitle>
    <contactAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactInfoHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </contactInfoHeadline>
    <contactInfoImage>
      <Value><![CDATA[[
  {
    "key": "c6cdf259-ddfe-4840-9054-e6e835def013",
    "mediaKey": "848eabab-2796-4ff5-b3be-8ae2933773ca",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactInfoImage>
    <contactPhoneNumber>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhoneNumber>
    <copyright>
      <Value><![CDATA[© Onatrix. All Rights Reserved. Credits to]]></Value>
    </copyright>
    <copyrightTheme>
      <Value><![CDATA[Themesflat]]></Value>
    </copyrightTheme>
    <emailTitle>
      <Value><![CDATA[E-mail address]]></Value>
    </emailTitle>
    <link1>
      <Value><![CDATA[About]]></Value>
    </link1>
    <link2>
      <Value><![CDATA[Services]]></Value>
    </link2>
    <link3>
      <Value><![CDATA[Projects]]></Value>
    </link3>
    <link4>
      <Value><![CDATA[Contact]]></Value>
    </link4>
    <logotype>
      <Value><![CDATA[[
  {
    "key": "9d5728fa-4fde-45ef-978e-5736bdadf139",
    "mediaKey": "1d99cfeb-1d08-4f60-8bf4-4ea1f9b52564",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logotype>
    <phoneTitle>
      <Value><![CDATA[Phone number]]></Value>
    </phoneTitle>
    <secondContactImage>
      <Value><![CDATA[[
  {
    "key": "966a5c3b-d6bd-4fff-8a67-45d225b647e5",
    "mediaKey": "c3ab6a72-e768-4a8a-960a-aead2126854a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </secondContactImage>
  </Properties>
</Content>