<?xml version="1.0" encoding="utf-8"?>
<Media Key="4429aaaa-215b-426b-8c1f-b8a777b66e38" Alias="About Us Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AboutUsPage</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-06T13:39:48</CreateDate>
    <NodeName Default="About Us Page" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties />
</Media>