<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f21fbb1-7bfb-4362-9c7d-16bbfd8f7a97" Alias="contat-map" Level="2">
  <Info>
    <Parent Key="e4921add-16c5-4eb7-bcee-8b41e61b36d3">Misc</Parent>
    <Path>/Misc/contatMap</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-06T13:41:14</CreateDate>
    <NodeName Default="contat-map" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/hyyhooms/contact-map.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>