<?xml version="1.0" encoding="utf-8"?>
<Media Key="7b2e417f-35e3-415b-90f7-bc3f02257a4b" Alias="expert-1" Level="3">
  <Info>
    <Parent Key="c4148b04-8f79-4f4e-bc24-f76ea49db284">Experts</Parent>
    <Path>/AboutUsPage/Experts/expert1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-06T09:24:15</CreateDate>
    <NodeName Default="expert-1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/4cfhrtmk/expert-1.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>