<?xml version="1.0" encoding="utf-8"?>
<Media Key="a23822cd-0d27-4bfb-9e5e-939f561ff8ef" Alias="expert-6" Level="3">
  <Info>
    <Parent Key="c4148b04-8f79-4f4e-bc24-f76ea49db284">Experts</Parent>
    <Path>/AboutUsPage/Experts/expert6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-06T09:27:05</CreateDate>
    <NodeName Default="expert-6" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/iluh2fco/expert-6.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>