<?xml version="1.0" encoding="utf-8"?>
<Media Key="c06bc6eb-082c-459a-9931-34acf21b925e" Alias="expert-4" Level="3">
  <Info>
    <Parent Key="c4148b04-8f79-4f4e-bc24-f76ea49db284">Experts</Parent>
    <Path>/AboutUsPage/Experts/expert4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-06T09:26:09</CreateDate>
    <NodeName Default="expert-4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/mqgc03sf/expert-4.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>