<?xml version="1.0" encoding="utf-8"?>
<Media Key="a16f2b66-89e5-4412-a8e8-32e659193bdf" Alias="expert-2" Level="3">
  <Info>
    <Parent Key="c4148b04-8f79-4f4e-bc24-f76ea49db284">Experts</Parent>
    <Path>/AboutUsPage/Experts/expert2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-06T09:24:31</CreateDate>
    <NodeName Default="expert-2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/3hqdsf2m/expert-2.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>