<?xml version="1.0" encoding="utf-8"?>
<Media Key="de51f338-50ab-41e8-bdb4-d5537f88fd4b" Alias="Founder" Level="2">
  <Info>
    <Parent Key="4429aaaa-215b-426b-8c1f-b8a777b66e38">About Us Page</Parent>
    <Path>/AboutUsPage/Founder</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-06T09:22:24</CreateDate>
    <NodeName Default="Founder" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>