<?xml version="1.0" encoding="utf-8"?>
<Media Key="b9b2cdd4-1320-4d47-a334-5e63fe7a79cd" Alias="founder" Level="3">
  <Info>
    <Parent Key="de51f338-50ab-41e8-bdb4-d5537f88fd4b">Founder</Parent>
    <Path>/AboutUsPage/Founder/founder</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-06T09:22:43</CreateDate>
    <NodeName Default="founder" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/lmdpid0j/founder.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>