<?xml version="1.0" encoding="utf-8"?>
<Media Key="df7dfa61-0050-4ac5-a663-8d2223ffc9ad" Alias="hero-signature" Level="3">
  <Info>
    <Parent Key="710d86e6-82ce-4ce3-a58a-c67470fc2112">Hero</Parent>
    <Path>/HomePage/Hero/heroSignature</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-05T11:33:19</CreateDate>
    <NodeName Default="hero-signature" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/3yydw0jz/hero-signature.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>