<?xml version="1.0" encoding="utf-8"?>
<Media Key="710d86e6-82ce-4ce3-a58a-c67470fc2112" Alias="Hero" Level="2">
  <Info>
    <Parent Key="5c6cd319-7918-46e5-b0de-5842b9e4e30f">Home Page</Parent>
    <Path>/HomePage/Hero</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-05T11:27:38</CreateDate>
    <NodeName Default="Hero" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>