<?xml version="1.0" encoding="utf-8"?>
<Media Key="17d0f177-105d-4016-8122-eafa765c27bd" Alias="hero-banner" Level="3">
  <Info>
    <Parent Key="710d86e6-82ce-4ce3-a58a-c67470fc2112">Hero</Parent>
    <Path>/HomePage/Hero/heroBanner</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-05T11:32:56</CreateDate>
    <NodeName Default="hero-banner" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/5a3jniju/hero-image.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>