<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c6cd319-7918-46e5-b0de-5842b9e4e30f" Alias="Home Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-06T09:19:56</CreateDate>
    <NodeName Default="Home Page" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>