<?xml version="1.0" encoding="utf-8"?>
<Media Key="848eabab-2796-4ff5-b3be-8ae2933773ca" Alias="let-us-know-man" Level="2">
  <Info>
    <Parent Key="e4921add-16c5-4eb7-bcee-8b41e61b36d3">Misc</Parent>
    <Path>/Misc/letUsKnowMan</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-06T09:16:00</CreateDate>
    <NodeName Default="let-us-know-man" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/erqnqmx5/let-us-know-man.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>