<?xml version="1.0" encoding="utf-8"?>
<Media Key="c3ab6a72-e768-4a8a-960a-aead2126854a" Alias="let-us-know-shapes" Level="2">
  <Info>
    <Parent Key="e4921add-16c5-4eb7-bcee-8b41e61b36d3">Misc</Parent>
    <Path>/Misc/letUsKnowShapes</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-06T09:16:34</CreateDate>
    <NodeName Default="let-us-know-shapes" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/5wqo03ib/let-us-know-shapes.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>