<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d99cfeb-1d08-4f60-8bf4-4ea1f9b52564" Alias="Logotype" Level="2">
  <Info>
    <Parent Key="e4921add-16c5-4eb7-bcee-8b41e61b36d3">Misc</Parent>
    <Path>/Misc/Logotype</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-05T11:32:29</CreateDate>
    <NodeName Default="Logotype" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/mqcn5k1b/logotype.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>