<?xml version="1.0" encoding="utf-8"?>
<Media Key="e4921add-16c5-4eb7-bcee-8b41e61b36d3" Alias="Misc" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Misc</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-05T11:27:24</CreateDate>
    <NodeName Default="Misc" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>