<?xml version="1.0" encoding="utf-8"?>
<Media Key="f19e5f2c-ab87-4b3b-91cd-209d0c1f5610" Alias="page-banner" Level="2">
  <Info>
    <Parent Key="e4921add-16c5-4eb7-bcee-8b41e61b36d3">Misc</Parent>
    <Path>/Misc/pageBanner</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-06T10:01:19</CreateDate>
    <NodeName Default="page-banner" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/uoknqr5o/page-banner.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>