<?xml version="1.0" encoding="utf-8"?>
<Media Key="8d9d7cc7-0078-4a69-aa86-cdaca80603ee" Alias="Partners" Level="2">
  <Info>
    <Parent Key="5c6cd319-7918-46e5-b0de-5842b9e4e30f">Home Page</Parent>
    <Path>/HomePage/Partners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-05T11:29:37</CreateDate>
    <NodeName Default="Partners" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>