<?xml version="1.0" encoding="utf-8"?>
<Media Key="a78487dc-3f2b-41a4-8243-79502bcf86f4" Alias="partner-4" Level="3">
  <Info>
    <Parent Key="8d9d7cc7-0078-4a69-aa86-cdaca80603ee">Partners</Parent>
    <Path>/HomePage/Partners/partner4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-05T11:31:18</CreateDate>
    <NodeName Default="partner-4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/kngneekc/partner-4.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>