<?xml version="1.0" encoding="utf-8"?>
<Media Key="1fccaaae-8921-49c2-bdee-354391b360f1" Alias="partner-3" Level="3">
  <Info>
    <Parent Key="8d9d7cc7-0078-4a69-aa86-cdaca80603ee">Partners</Parent>
    <Path>/HomePage/Partners/partner3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-05T11:30:54</CreateDate>
    <NodeName Default="partner-3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/efqivkki/partner-3.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>