<?xml version="1.0" encoding="utf-8"?>
<Media Key="1117fd1e-0f1e-46f9-88ac-856b725124bb" Alias="partner-2" Level="3">
  <Info>
    <Parent Key="8d9d7cc7-0078-4a69-aa86-cdaca80603ee">Partners</Parent>
    <Path>/HomePage/Partners/partner2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-05T11:30:38</CreateDate>
    <NodeName Default="partner-2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/se1fdj1x/partner-2.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>