<?xml version="1.0" encoding="utf-8"?>
<Media Key="e7522c32-eeaa-4f4f-afa9-ffb053c60e1a" Alias="partner-1" Level="3">
  <Info>
    <Parent Key="8d9d7cc7-0078-4a69-aa86-cdaca80603ee">Partners</Parent>
    <Path>/HomePage/Partners/partner1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-05T11:30:23</CreateDate>
    <NodeName Default="partner-1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/xxtbiuod/partner-1.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>