<?xml version="1.0" encoding="utf-8"?>
<Media Key="863248f7-80d0-4ec5-a3bb-69d7c1868293" Alias="project-1" Level="2">
  <Info>
    <Parent Key="8541c4e4-6a62-44fb-aad0-fbcf638120e5">Project Pages</Parent>
    <Path>/ProjectPages/project1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-16T10:54:55</CreateDate>
    <NodeName Default="project-1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/pcbhimfz/project-card-1.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>