<?xml version="1.0" encoding="utf-8"?>
<Media Key="c28fa78a-8154-4ff1-86d9-78fb05b650e0" Alias="project-6" Level="2">
  <Info>
    <Parent Key="8541c4e4-6a62-44fb-aad0-fbcf638120e5">Project Pages</Parent>
    <Path>/ProjectPages/project6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-16T10:57:15</CreateDate>
    <NodeName Default="project-6" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/avwns3b3/project-card-4.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>