<?xml version="1.0" encoding="utf-8"?>
<Media Key="ddb0a1bb-073f-485b-aa05-ed4d593ba75a" Alias="project-1" Level="3">
  <Info>
    <Parent Key="efccd196-0b29-49db-aeb4-c7b29f9230bf">Projects</Parent>
    <Path>/HomePage/Projects/project1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-05T11:35:36</CreateDate>
    <NodeName Default="project-1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/grvpm00w/project-card-1.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>