<?xml version="1.0" encoding="utf-8"?>
<Media Key="8541c4e4-6a62-44fb-aad0-fbcf638120e5" Alias="Project Pages" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ProjectPages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-16T10:53:09</CreateDate>
    <NodeName Default="Project Pages" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties />
</Media>