<?xml version="1.0" encoding="utf-8"?>
<Media Key="8af1f1b6-1281-4c0c-abcf-4ea490b7c188" Alias="project-2" Level="2">
  <Info>
    <Parent Key="8541c4e4-6a62-44fb-aad0-fbcf638120e5">Project Pages</Parent>
    <Path>/ProjectPages/project2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-16T10:55:41</CreateDate>
    <NodeName Default="project-2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/he3lophi/annual-reports-1.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>