<?xml version="1.0" encoding="utf-8"?>
<Media Key="9eaf1057-7cd4-43c6-b744-dde684aab244" Alias="review" Level="3">
  <Info>
    <Parent Key="a63b40ff-7f4a-4385-947b-eb50d4f75123">Review</Parent>
    <Path>/AboutUsPage/Review/review</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-06T09:23:30</CreateDate>
    <NodeName Default="review" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/1dnoskf3/review.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>