<?xml version="1.0" encoding="utf-8"?>
<Media Key="a42899e4-e0b8-4eeb-b0c9-48598d574bc6" Alias="risk-1" Level="2">
  <Info>
    <Parent Key="ba94fd44-ecca-45c5-839d-6322d7d16fa5">Service Pages</Parent>
    <Path>/ServicePages/risk1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T12:16:14</CreateDate>
    <NodeName Default="risk-1" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/nnjh2ewr/risk.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>