<?xml version="1.0" encoding="utf-8"?>
<Media Key="ae8d4afc-d3f8-46b6-b775-17c4a2d18573" Alias="service-6" Level="2">
  <Info>
    <Parent Key="ba94fd44-ecca-45c5-839d-6322d7d16fa5">Service Pages</Parent>
    <Path>/ServicePages/service6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T12:14:38</CreateDate>
    <NodeName Default="service-6" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/ooamwger/service-6.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>