<?xml version="1.0" encoding="utf-8"?>
<Media Key="eb0e07bf-0c63-461a-95ba-08c096c0026d" Alias="Services" Level="2">
  <Info>
    <Parent Key="5c6cd319-7918-46e5-b0de-5842b9e4e30f">Home Page</Parent>
    <Path>/HomePage/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-05T11:28:06</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>