<?xml version="1.0" encoding="utf-8"?>
<Media Key="18ebd387-c91a-4017-9272-cbef1774287a" Alias="service-4" Level="2">
  <Info>
    <Parent Key="ba94fd44-ecca-45c5-839d-6322d7d16fa5">Service Pages</Parent>
    <Path>/ServicePages/service4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T12:13:47</CreateDate>
    <NodeName Default="service-4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/baml1ltt/service-4.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>