<?xml version="1.0" encoding="utf-8"?>
<Media Key="b79ae2d7-33e8-4354-8017-42ec1bd78d06" Alias="service-2" Level="2">
  <Info>
    <Parent Key="ba94fd44-ecca-45c5-839d-6322d7d16fa5">Service Pages</Parent>
    <Path>/ServicePages/service2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T12:13:14</CreateDate>
    <NodeName Default="service-2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/launyamb/service-2.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>