<?xml version="1.0" encoding="utf-8"?>
<Media Key="d76c471d-c50e-45ca-a734-dc174558a365" Alias="service-1" Level="2">
  <Info>
    <Parent Key="ba94fd44-ecca-45c5-839d-6322d7d16fa5">Service Pages</Parent>
    <Path>/ServicePages/service1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T11:57:50</CreateDate>
    <NodeName Default="service-1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/skgduylh/service-1.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>