<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa679368-7800-44e9-becd-1a75d9ef0362" Alias="service-3" Level="2">
  <Info>
    <Parent Key="ba94fd44-ecca-45c5-839d-6322d7d16fa5">Service Pages</Parent>
    <Path>/ServicePages/service3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T12:13:31</CreateDate>
    <NodeName Default="service-3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/23mdctdj/service-3.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>