<?xml version="1.0" encoding="utf-8"?>
<Media Key="8664e869-f037-4c93-ab3c-6acfdb7bdcf0" Alias="service-1" Level="3">
  <Info>
    <Parent Key="eb0e07bf-0c63-461a-95ba-08c096c0026d">Services</Parent>
    <Path>/HomePage/Services/service1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-05T11:33:41</CreateDate>
    <NodeName Default="service-1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/2yrcemc4/service-1.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>