<?xml version="1.0" encoding="utf-8"?>
<Media Key="57288adc-b87c-41d9-bd47-c31e8bbf8d6d" Alias="service-5" Level="2">
  <Info>
    <Parent Key="ba94fd44-ecca-45c5-839d-6322d7d16fa5">Service Pages</Parent>
    <Path>/ServicePages/service5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T12:14:16</CreateDate>
    <NodeName Default="service-5" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/knag3yiv/service-5.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>