<?xml version="1.0" encoding="utf-8"?>
<Media Key="ba94fd44-ecca-45c5-839d-6322d7d16fa5" Alias="Service Pages" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicePages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-10T11:53:58</CreateDate>
    <NodeName Default="Service Pages" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties />
</Media>