<?xml version="1.0" encoding="utf-8"?>
<Media Key="a216ad3e-2600-487f-8dc4-5daee5aaa3d4" Alias="story" Level="3">
  <Info>
    <Parent Key="f31f0f8d-0c42-46f1-b80d-af862ed8c5f5">Story</Parent>
    <Path>/HomePage/Story/story</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-05T11:35:16</CreateDate>
    <NodeName Default="story" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/wftfafdj/story.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>