<?xml version="1.0" encoding="utf-8"?>
<Media Key="d9ce416e-b6db-46b7-bd84-93d3ddc7d1a4" Alias="trusted-image" Level="3">
  <Info>
    <Parent Key="1433bb49-688c-4931-8ecd-ea90dc1f2d11">Trusted</Parent>
    <Path>/HomePage/Trusted/trustedImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-05T11:34:48</CreateDate>
    <NodeName Default="trusted-image" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/2gfjq13s/trusted-image.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>