<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0129094d-5aad-4a57-b95d-167fb919ce7a" Alias="Project - Multiple Text Strings" Level="1">
  <Info>
    <Name>Project - Multiple Text Strings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>